* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    background-color: #EAC926;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
}
:root{
    --amarillo: #EAC926;
    --azul: #03264c;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

main {
    width: 90%;
    text-align: center;
}

.registro-main label{
    
    text-align: left;
    margin: 5px;
}

.registro-main input{
   
    margin: 5px;
}

.registro-main select{
    
    margin: 5px;
}

.registro-main{
    padding: 20px 15px;
    background-color: var(--gris-claro);
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}

.registro-form{
    display: block;
}

.control {
    width: 100%;
    padding: 8px;
    background-color: white;
    border-radius: 5px;
}

.main-reg{
    width: 100%;
    margin-top: 180px;
}

.button {
    background-color: var(--gris-claro);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: var(--celeste);
    font-weight: normal;
    padding: 10px;
    border-radius: 5px;
    transition: all 450ms;
}

.button:hover {
    background-color: var(--celeste);
    color: var(--gris-claro);
}

.nav-header {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-left: 25px;
    margin-top: 10px;
}

.product img{
    width: 100%;
}

.product{
    border: 10px solid var(--gris-claro);
    border-radius: 10px;
    margin: 10px;
    position: relative;
}

.product h3{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0px;
    padding: 15px;    
    left: 0px;
    bottom: 0px; 
    opacity: 0;
    transition: all 450ms;
}

.product:hover h3{
    opacity: 1;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 10%;
}

.product:hover {
        padding-bottom: 50px;
}
    
.banner{
    font-family: 'Roboto', sans-serif;
    background-color: var(--verde);
    color: var(--gris-claro);
    padding: 5px;
    margin: 10px;
    animation: aumentar 300ms ease-in infinite alternate;
}

.img-head{
    width: 100%;
}

p{
    font-family: 'Roboto', sans-serif;
}

h4{
    font-family: 'Roboto', sans-serif;
}

.txt01{
    margin: 0px;
    width: 100%;
    text-align: center;
    background-color: var(--amarillo);
    padding: 10px;
}

.sep{
    margin-top: 10px;
}

.foot{
    text-align: center;
}

.foot i{
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 10px;
    color: var(--celeste);
}

@keyframes aumentar {
    0%{
        transform: scale(0.9);
        color: white;
        background-color: var(--gris-claro);
    }
    50% {
        transform: scale(1.2);
        color: yellow;
        background-color: purple;
    }
    100%{
        transform: scale(1);
        color: red;
        background-color: yellow;
    }
}

@media (min-width: 361px){
    body{
       box-shadow: 0px 0px 10px rgb(100, 100, 100);
   }
   h4 {
       display: none;
   }

}

@media (min-width: 769px){
  
   h4 {
       display: block;
   }
   
}