header {
    background-color: #EAC926;
}
h3{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
.precio{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.descuentos{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
h4{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#centrar{
    align-content: center;
}

footer{
    text-align: center;
}

footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}

form .icon-container i{
    color: black;
    margin-top: 10px;
}

.burger-menu{
    text-align: center;
}

.burger-menu i{
    color: #03264C;
    font-size: 20px;
}