header {
    background-color: #EAC926;
}
h3{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
.precio{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.descuentos{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: var(--verde);
   text-align: left;
}
h4{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;
}

#centrar{
    text-align: left;
}

footer{
    text-align: center;
}

footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}

form .icon-container i{
    color: black;
    margin-top: 10px;
    background-color: var(--gris-claro);
    padding: 5px;
    border-radius: 10%;
}

.burger-menu{
    text-align: center;
}

.burger-menu i{
    color: var(--gris-claro);
    background-color: var(--celeste);
    font-size: 30px;
    padding: 5px;
    border-radius: 10%;
    margin-bottom: 15px;
}

:root{
    --amarillo: #EAC926;
    --azul: #03264c;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

main {
    width: 90%;
    text-align: center;
}
section div{
    margin: 10px;
    
    
}

main section div div i{
    color: var(--verde);
}


.borde {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    
  
}

@media (min-width: 361px){
     body{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    h4 {
        display: none;
    }

}

@media (min-width: 769px){
   
    h4 {
        display: block;
    }
    
}